/**
 * @file
 * LBKTab component CSS file.
 *
 * Custom styles for LBKTab component.
 */
.block-lbk-tab .block-title {
  margin: 25px 0;
}
.lbk-tab-component {
  line-height: 1.2;
  margin: 30px 0;
  width: 100%;
}
.lbk-tab-component .lbk-block--title {
  margin: 20px 0 30px;
}
.lbk-tab-component div.tabs-nav {
  line-height: 1;
}
.lbk-tab-component div.tabs-nav ul {
  border-bottom: solid 3px #29abe2;
  display: inline-flex;
  list-style-type: none;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.lbk-tab-component .tabs-nav ul li {
  list-style: none;
  margin: 0 10px 0 0;
  min-height: 40px;
  padding: 0;
  position: relative;
  text-align: center;
}
.lbk-tab-component .tabs-nav ul li a {
  background: #eeedf0;
  border-radius: 10px 10px 0 0;
  border: solid 1px #d3d1d6;
  border-bottom: 0;
  color: #68676b;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  min-height: 100%;
  padding: 12px 30px;
  text-transform: uppercase;
}
.lbk-tab-component .tabs-nav ul li a.tab-active {
  background: #29abe2;
  border-radius: 10px 10px 0 0;
  border: solid 1px #29abe2;
  border-bottom: 0;
  color: #fff;
  position: relative;
}

.lbk-tab-component .tabs-nav ul li a.tab-active:before {
  content: '';
}
.lbk-tab-component .tabs-panel {
  background: #fff;
  border: solid 1px #d3d1d6;
  line-height: 1.5;
  padding: 25px 30px;
}
.lbk-tab-component .tabs-panel .tab-list {
  display: none;
}
.lbk-tab-component .tabs-panel div.tab-list.tab-active {
  background: #fff;
  display: block;
  padding: 25px 15px 25px;
}

/* LBKTab styles for the Layout Builder configuration form. */
.layout-builder-configure-block .lbk-tab--component .form-item-settings-display-title label.control-label {
  padding-left: 27px !important;
}
.layout-builder-configure-block .lbk-tab--component fieldset.card {
  box-shadow: none;
}
.layout-builder-configure-block .lbk-tab--component fieldset.card .card__block {
  padding: 0;
}
.layout-builder-configure-block .lbk-tab--component #items-fieldset-wrapper fieldset.card .card__block button.button,
#drupal-off-canvas .layout-builder-configure-block .lbk-tab--component .lbk-tab-buttons button.button {
  border: 0;
  border-radius: 20px;
  background: #777;
  cursor: pointer;
  color: #f5f5f5;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  height: auto;
  padding: 4px 20px;
  transition: background 0.5s ease;
  text-align: center;
  width: 100%;
}

/* Layout Builder off-canvas dialog.  */
#drupal-off-canvas .layout-builder-remove-block .card {
  box-shadow: none;
}

#drupal-off-canvas .layout-builder-remove-block .form-actions {
  display: flex;
  flex-direction: column;
}

#drupal-off-canvas .layout-builder-remove-block button,
#drupal-off-canvas .layout-builder-block-move button.button {
  background: #277abd;
  padding: 4px 20px;
  width: 100%;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  position: relative;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  left: 0;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas button.ui-dialog-titlebar-close {
  position: relative;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas button.ui-dialog-titlebar-close:before {
  content: '';
}

.js-off-canvas-dialog-open .layout-builder-block-move .responsive-enabled tr td {
  padding-left: 45px !important;
}

.js-off-canvas-dialog-open .layout-builder-block-move .responsive-enabled tr td a.tabledrag-handle {
  left: 0;
  width: 20px;
}
