/**
 * @file
 * LBKBookNavigation component CSS file.
 *
 * Custom styles for LBK Book Navigation component.
 */
.lbk-book--navigation--head .lbk-book--navigation--title {
  margin-bottom: 10px;
}
.lbk-book--navigation--title a {
  color: #4d4d4d;
  font-weight: 700;
}
.lbk-book--navigation--list ul {
  list-style-type: none;
  padding-left: 0;
}
.lbk-book--navigation--head .lbk-book--navigation--list ul li {
  list-style-type: none;
}
.lbk-book--navigation--list ul li a {
  border-bottom: solid 1px #eeeeee;
  color: #000;
  display: block;
  font-weight: 100;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 5px;
}
.lbk-book--navigation--list ul li a:hover {
  background: #eeeeee;
}

/* LBKBookNavigation styles for the Layout Builder configuration form. */
.layout-builder-configure-block .lbk-header--component .form-item-settings-display-title label.control-label {
  padding-left: 27px !important;
}

/* Layout Builder off-canvas dialog. */
#drupal-off-canvas .layout-builder-remove-block .card {
  box-shadow: none;
}

#drupal-off-canvas .layout-builder-remove-block .form-actions {
  display: flex;
  flex-direction: column;
}

#drupal-off-canvas .layout-builder-remove-block button,
#drupal-off-canvas .layout-builder-block-move button.button {
  background: #277abd;
  padding: 4px 20px;
  width: 100%;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  position: relative;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  left: 0;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas button.ui-dialog-titlebar-close {
  position: relative;
}

.js-off-canvas-dialog-open .ui-dialog.ui-dialog-off-canvas button.ui-dialog-titlebar-close:before {
  content: '';
}

.js-off-canvas-dialog-open .layout-builder-block-move .responsive-enabled tr td {
  padding-left: 45px !important;
}

.js-off-canvas-dialog-open .layout-builder-block-move .responsive-enabled tr td a.tabledrag-handle {
  left: 0;
  width: 20px;
}
